h1 {
    color: rgb(146, 25, 146);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', sans-serif;
}

img {
    display: inline; 
    width: 32.5%;
}

#cat-gif {
    width: 20%;
}

.links {
    font-size: 20px;
    list-style: none;
    text-align: center;
    margin-top: 40px;
}

body {
    background-color: rgb(163, 133, 133);
}

.title-card {
    background-color: rgb(212, 162, 143);
    margin: 20px 42.5%;
    border: solid 5px rebeccapurple;
}

.body-card {
    background-color: rgb(212, 162, 143);
    height: 400px;
    width: 60%;
    padding: 20px;
    margin: 20px auto;
    border: solid 5px maroon;
    text-align: center;
}

.left-interior-container {
    display:inline-block;
    background-color: rgb(84, 185, 114);
    height: 100px;
    width: 250px;
    text-align: center;
    border: 5px dotted black;
}

.right-interior-container {
    display:inline-block;
    background-color: rgb(84, 185, 114);
    height: 100px;
    width: 250px;
    text-align: center;
    border: 5px dotted black;
}

.bottom-interior-container {
    background-color: rgb(223, 224, 125);
    height: 100px;
    width: 250px;
    text-align: center;
    border: 5px dotted black;
}

.left-container-border {
    display: inline-block;
    height: 110px;
    width: 260px;
    border: 5px black dotted;
    margin-top: -10%;
    margin-right: 5%;
}

.right-container-border {
    display: inline-block;
    height: 110px;
    width: 260px;
    border: 5px black dotted;
    margin-top: -10%;
    margin-left: 5%;
}

.bottom-container-border {
    height: 110px;
    width: 260px;
    border: 5px black dotted;
    margin: -30px auto;
}