h1 {
    color: purple;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#cat-gif {
    width: 20%;
}

.links {
    font-size: 20px;
    list-style: none;
    text-align: center;
}

body {
    background-color: rgb(163, 133, 133);
}